*.bak
*.fits
*.fit
*.log

IMPORTANT.md

./processed_stage1_rate/*.fits
./processed_stage1_rate/*.fit
./processed_stage1_raw/*.fits
./processed_stage1_raw/*.fit
./processed_stage2_cal/*.fits
./processed_stage2_cal/*.fit
./processed_stage3/*.fits
